.hn.size {
	height: 2px;
	position: absolute;
	margin-top: 15px;
  margin-left: 36px;
}

  .hn.size.full {
    background-color: #ff6600;
  }

  .hn.size.muted {
    background-color: #FFC8A3;
  }

  .hn.size.hidden {
    display: none;
  }

.reddit.size {
  height: 4px;
  margin-top: 15px;
  margin-left: 36px;
}

  .reddit.size.full {
    background-color: #5f99cf;
  }

  .reddit.size.muted {
    background-color: #cee3f8;
  }

  .reddit.size.hidden {
    display: none;
  }